html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

a {
    text-decoration: none;
}

ul,
li,
h1 {
    list-style: none;
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1450px;
    padding: 0 15px;
    margin: 0 auto;
}

input,
select {
    outline: none;
}

button {
    outline: none;
    border: none;
    cursor: pointer;
}

.title {
    font-size: 64px;
    line-height: 130%;
    color: $blue;
    font-weight: 700;
    text-align: center;
}

.subtitle {
    font-weight: 300;
    font-size: 28px;
    line-height: 130%;
    text-align: center;
    color: $blue;
}