@media (max-width: 1450px) {

    .header__logo,
    .header__menu,
    .header__info {
        margin-right: 0;
    }

    .header__content {
        width: 100%;
        justify-content: space-between;
    }
}

@media (max-width: 1360px) {
    .intro {

        &__inner {
            display: flex;
            justify-content: space-between;
        }

        &__box {
            position: relative;
            flex: 0 1 880px;
        }

        &__content {
            display: flex;
            justify-content: space-between;
        }

        &__title {
            font-size: 42px;
            line-height: 130%;
            margin-bottom: 20px;
        }

        &__discount {
            font-size: 52px;

            span {
                font-size: 110px;

                span {
                    display: inline-block;
                    font-size: 70px;
                }
            }
        }

        &__text {
            font-size: 20px;
            margin-bottom: 25px;
            line-height: 28px;
        }

        &__btn {
            padding: 25px 35px;
        }

        &__gift {
            position: absolute;
            right: 20px;
            bottom: 20px;
        }

    }

    .calc-form {
        font-size: 18px;

        &__head {
            font-size: 26px;
            line-height: 28px;
        }

        &__title {
            font-size: 18px;
            line-height: 16px;
        }

        &__material-item {
            flex: 0 1 25%;
            display: flex;
            flex-direction: column;
            margin-bottom: 19px;
            align-items: center;
        }

        &__label {
            font-size: 12px;
        }

        &__btn {
            padding: 13px 27px 18px;
            font-size: 17px;
        }
    }

}

@media (max-width: 1240px) {

    .header {
        &__inner {
            min-height: 80px;
        }

        &__logo {
            max-width: 60px;
            width: 100%;
        }
    }

    .info {
        text-align: right;

        &__tel {
            font-size: 18px;
            line-height: 21px;

        }

        span {
            font-size: 14px;
            line-height: 16px;
        }
    }

    .menu-list {
        &__item {
            margin-right: 20px;
        }

        &__link {
            font-size: 18px;
        }
    }

    .intro {
        &__content {
            display: block;
            max-width: 100%;
            width: 100%;
        }

        &__box {
            margin-bottom: 40px;
        }
    }

    .calc-form {
        margin: 0 auto;
    }
}

@media (max-width: 1120px) {
    .header {
        &__btn {
            display: none;
        }
    }

    .menu-list {
        &__item {
            margin-right: 15px;
        }
    }
}

@media (max-width: 767px) {
    .header {

        &__content {
            justify-content: flex-end;
        }

        &__inner {
            justify-content: space-between;
            min-height: 65px;
            padding: 0 10px;
        }

        &__logo {
            max-width: 44px;
            width: 100%;
            margin-right: 13px;
        }

        &__menu {
            display: none;
        }

        &__info {
            text-align: right;

            &__tel {
                font-size: 16px;
                line-height: 19px;

            }

            span {
                font-size: 12px;
                line-height: 14px;
            }
        }
    }

    .header__menu_md {
        position: absolute;
        top: 65px;
        left: 0;
        right: 0;
        height: 100vh;
        padding: 44px 25px 43px;
        transition: all .3s ease;
        display: flex;
        flex-direction: column;
        transform: translateX(-100%);
        z-index: 50;
        background-color: #fff;

        &.active {
            transform: translateX(0);
        }

        .menu-list {
            display: block;
            flex: 1 1 auto;

            &__item {
                margin-right: 0;
                margin-bottom: 18px;

            }

            &__link {
                font-size: 16px;
                line-height: 19px;
            }
        }

        .header__menu-btn {
            font-size: 16px;
            line-height: 19px;
            color: #000;
            padding: 13px 36px;
            max-width: 200px;
            margin: 0 auto;
        }

        .header__info {
            text-align: center;
            margin-top: 18px;
        }
    }


    .header__burger {
        display: block;
        width: 25px;
        height: 17px;
        position: relative;

        span {
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: $dark;
            left: 0;
            top: 7px;
            border-radius: 1px;
            transition: all .3s ease;
        }

        &::before,
        &::after {
            content: '';
            width: 100%;
            background-color: $dark;
            height: 2px;
            position: absolute;
            left: 0;
            border-radius: 1px;
            transition: all .3s ease;
        }

        &::before {
            top: 0;
        }

        &::after {
            bottom: 0;
        }
    }

    .header__burger.active {
        &::before {
            transform: rotate(45deg);
            top: 7px;
        }

        &::after {
            transform: rotate(-45deg);
            bottom: 8px;
        }

        span {
            transform: scale(0);
        }
    }

    .intro {
        min-height: 605px;

        &__box_md {
            display: block;
        }

        &__content {
            padding: 20px 0;
            position: absolute;
            top: 0;
            left: 0;
        }

        &__gift {
            display: none;
        }

        &__discount-box {
            display: none;
        }

        &__btn {
            display: none;
        }

        &__title {
            font-size: 30px;
            line-height: 130%;
            max-width: 310px;
            margin: 0 auto;
            margin-top: 33px;
            margin-bottom: 20px;
        }
    }

    .intro__box_md {
        .intro__box-text {
            position: relative;

            svg {
                position: absolute;
                right: 0;
                top: 35px;
            }
        }
    }

    .calc-form {
        padding: 19px 15px 14px;
        font-size: 14px;

        &__head {
            font-size: 22px;
            line-height: 24px;
        }

        &__title {
            font-size: 14px;
            line-height: 16px;
        }

        &__material-item {
            flex: 0 1 25%;
            display: flex;
            flex-direction: column;
            margin-bottom: 19px;
            align-items: center;
        }

        &__label {
            font-size: 12px;
        }

        &__btn {
            padding: 13px 27px 18px;
            font-size: 17px;
        }
    }
}











@media (min-width: 767px) {
    .header__menu {
        display: block !important;
    }
}