@import "vars";
@import "libs";
@import "fonts";
@import "global";


//header start
.header {
    position: relative;

    &__inner {
        min-height: 140px;
        display: flex;
        align-items: center;

    }

    &__burger {
        display: none;
    }

    &__content {
        display: flex;
        align-items: center;
    }

    &__logo {
        margin-right: 75px;

        svg {
            display: block;
            max-width: 100%;
            height: 100%;
        }
    }

    &__menu {
        margin-right: 126px;

        &_md {
            display: none;
        }
    }

    &__info {
        margin-right: 64px;
    }
}



.menu-list {
    display: flex;

    &__item {
        margin-right: 38px;

        &:last-child {
            margin-right: 0;
        }
    }

    &__link {
        font-size: 20px;
        line-height: 23px;
        text-transform: uppercase;
        color: #1A3152;
        transition: all .3s ease;

        &:hover {
            color: $yellow;
        }
    }
}

.info {
    color: $dark;

    &__tel {
        font-size: 26px;
        line-height: 30px;
        font-weight: 700;
        color: $dark;
    }

    span {
        display: block;
        font-size: 19px;
        line-height: 22px;
        font-weight: 300;
    }
}

.btn {
    display: inline-block;
    font-size: 20px;
    line-height: 23px;
    padding: 14px 31px;
    font-weight: 500;
    border-radius: 10px;
    transition: all .3s ease;


    &_yellow {
        background-color: $yellow;
        color: $dark;

        &:hover {
            background-color: #FFDB52;
        }
    }

    &_black {
        background-color: $blue;
        color: #fff;

        &:hover {
            background-color: #435B7C;
            ;
        }
    }
}

//header end

//intro start
.intro {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 60px 0 60px;
    position: relative;

    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__box {
        position: relative;
        flex: 0 1 880px;
    }

    &__content {
        display: flex;
        justify-content: space-between;
    }

    &__title {
        font-size: 64px;
        line-height: 130%;
        color: #fff;
        font-weight: 700;
        margin-bottom: 42px;
    }

    &__stock {
        color: #fff;
        font-weight: 300;
        font-size: 20px;
        line-height: 32px;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

        span {
            text-transform: uppercase;
        }
    }

    &__date {
        display: block;
        margin-bottom: 5px;
    }

    &__discount {
        text-transform: uppercase;
        font-size: 64px;
        font-weight: 700;
        color: #fff;

        span {
            color: $yellow;
            display: block;
            font-size: 165px;

            span {
                display: inline-block;
                font-size: 104px;
            }
        }
    }

    &__text {
        color: #fff;
        font-size: 24px;
        margin-bottom: 46px;
        line-height: 42px;

        span {
            display: block;
        }
    }

    &__btn {
        padding: 29px 40px;
        border-radius: 15px;
        font-size: 24px;
        line-height: 19px;
    }

    &__gift {
        position: absolute;
        right: 0;
        bottom: 20px;
    }

    &__box_md {
        display: none;
    }

    &__box-item {
        margin: 0 auto;
        position: relative;
        padding-left: 30px;
        max-width: 310px;
        width: 100%;
    }

    &__box-text {
        font-size: 17px;
        line-height: 130%;
        color: #fff;
        margin-bottom: 25px;

        &:last-child {
            margin-bottom: 10px;
        }

        &>span {
            display: block;

            span {
                text-transform: uppercase;
                font-weight: 700;
                color: $yellow;
            }
        }


    }

    &__box-icon {
        position: absolute;
        left: 0;
        top: 0;
    }

    &__box-img {
        max-width: 124px;
        margin: 0 auto;

        img {
            display: block;
            max-width: 100%;
            margin-bottom: 15px;
        }
    }

}

.gift {
    width: 336px;
    height: 336px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, .3);
    text-align: center;

    &__title {
        padding-top: 20px;
        text-transform: uppercase;
        font-size: 28px;
        line-height: 120%;
        text-align: center;
        font-weight: 500;
        color: $yellow;
    }

    &__subtitle {
        color: $yellow;
        font-size: 18px;
        line-height: 120%;
        margin-bottom: 10px;
    }

    &__text {
        font-size: 20px;
        line-height: 130%;
        color: #fff;
        max-width: 220px;
        position: relative;
        margin: 0 auto;

        span {
            position: absolute;
            left: -30px;
            top: 50%;
        }
    }

    &__images {
        text-align: center;
        position: relative;
    }

    &__img {
        max-width: 100%;
        display: block;

        &_pot {
            z-index: 3;
            position: relative;
        }

        &_y {
            position: absolute;
            right: 48px;
            bottom: 35px;
            z-index: 2;
        }

        &_w {
            position: absolute;
            right: 85px;
            bottom: 0;
            z-index: 4;
        }
    }
}

.intro {

    &__form {
        flex: 0 1 430px;
        margin-left: 10px;
    }
}

.calc-form {
    color: $blue;
    background-color: #fff;
    padding: 28px 31px;
    box-shadow: 2px 3px 11px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    max-width: 430px;
    width: 100%;

    &__head {
        font-size: 30px;
        line-height: 80%;
        margin-bottom: 23px;
        font-weight: 700;
    }

    &__title {
        font-size: 20px;
        line-height: 26px;
        letter-spacing: -0.02em;
    }

    &__material-box {
        margin-top: 18px;
        display: flex;
        flex-wrap: wrap;
    }

    &__material-item {
        flex: 0 1 25%;
        display: flex;
        flex-direction: column;
        margin-bottom: 19px;
        align-items: center;
    }

    &__checkbox {
        appearance: none;
        position: relative;

        &::before {
            content: '';
            display: block;
            width: 61px;
            height: 61px;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }

        &::after {
            content: '';
            width: 61px;
            height: 61px;
            border-radius: 60px;
            background-color: rgba(255, 255, 255, .3);
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            transition: all .3s ease;
        }

        &:checked {
            &::after {
                opacity: 1;
            }

            &+.calc-form__label {
                &::before {
                    opacity: 1;
                }
            }
        }
    }

    &__checkbox_1 {
        background-image: url(../img/intro/form1.png);
    }

    &__checkbox_2 {
        background-image: url(../img/intro/form2.png);
    }

    &__checkbox_3 {
        background-image: url(../img/intro/form3.png);
    }

    &__checkbox_4 {
        background-image: url(../img/intro/form4.png);
    }

    &__checkbox_5 {
        background-image: url(../img/intro/form5.png);
    }

    &__checkbox_6 {
        background-image: url(../img/intro/form6.png);
    }

    &__checkbox_7 {
        &::before {
            content: '?';
            display: block;
            width: 61px;
            height: 61px;
            border-radius: 50%;
            background-color: $yellow;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 28px;
            color: #fff;
        }

        &::after {
            content: '';
            display: block;
            width: 61px;
            height: 61px;
            border-radius: 50%;

        }
    }

    &__label {
        font-size: 16px;
        font-weight: 300;
        margin-top: 7px;
        position: relative;

        &::before {
            content: '';
            width: 25px;
            height: 19px;
            background: url(../img/intro/check.svg);
            position: absolute;
            left: 50%;
            margin-left: -12.5px;
            top: -45px;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            opacity: 0;
            transition: all .3s ease;
        }
    }

    &__size {
        input {
            margin-top: 15px;
            margin-bottom: 20px;
            height: 46px;
            border: 1px solid #CDCDCD;
            border-radius: 5px;
            width: 100%;
            padding: 0 12px;

            &::placeholder {
                font-size: 18px;
                line-height: 20px;
                color: #959595;
            }
        }
    }

    &__type {
        select {
            margin-top: 14px;
            margin-bottom: 22px;
            appearance: none;
            width: 100%;
            height: 46px;
            border: 1px solid #CDCDCD;
            border-radius: 5px;
            width: 100%;
            padding: 0 12px;
            background-color: #fff;
            font-family: inherit;
        }
    }

    &__select {
        position: relative;

        &::after {
            content: '';
            display: block;
            position: absolute;
            right: 13px;
            top: 35px;
            background-image: url(../img/intro/arrow-down.png);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            width: 15px;
            height: 8.5px;
            pointer-events: none;
        }
    }

    &__tel {
        input {
            margin-top: 9px;
            margin-bottom: 23px;
            height: 46px;
            border: 1px solid #CDCDCD;
            border-radius: 5px;
            width: 100%;
            padding: 0 12px;

            &::placeholder {
                font-size: 18px;
                line-height: 20px;
                color: #959595;
            }
        }
    }

    &__button {
        text-align: center;
    }
}

//intro end


//catalog start
.catalog {
    background-color: $light;

    &_subtitle {
        margin-bottom: 61px;
    }

    &__title {
        padding: 65px 0 23px;
    }

    &__row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__column {
        margin-bottom: 90px;
    }

}



.catalog-item {
    max-width: 420px;
    width: 100%;
    text-align: center;

    &__slider {
        position: relative;
    }

    &__img {
        img {
            display: block;
            max-width: 100%;
        }
    }

    &__inner {
        padding: 0 10px;
    }

    &__title {
        font-weight: 500;
        font-size: 30px;
        line-height: 80%;
        color: $blue;
        padding: 35px 0 23px;
    }

    &__text {
        font-weight: 300;
        font-size: 18px;
        line-height: 80%;
        color: $blue;
        margin-bottom: 23px;
    }

    &__box {
        display: flex;
        justify-content: center;
    }

    &__btn {
        margin-right: 23px;
        font-weight: 500;
        font-size: 20px;
        padding: 17px 23px;
        color: $dark;
    }

    &__price {
        flex: 0 0 113px;
        font-weight: bold;
        font-size: 18px;
        line-height: 150%;
        text-align: center;
    }
}

.slick-arrow {
    position: absolute;
    background-color: transparent;
    border: none;
    outline: none;
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s ease;

    &:hover {
        background-color: $blue;

        path {
            fill: #fff;
            transition: all .3s ease;
        }
    }
}

.slick-prev {
    top: 50%;
    transform: translate(0, -50%);
    left: 12px;
    z-index: 1;
}

.slick-next {
    top: 50%;
    transform: translate(0, -50%);
    right: 12px;
}

.slick-dots {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    align-items: center;

    li {
        display: inline-block;
        font-size: 0;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.6);

        button {
            display: none;
        }

        &.slick-active {
            background-color: #fff;
            width: 11px;
            height: 11px;
        }

        &+li {
            margin-left: 12px;
        }
    }
}

.catalog {
    position: relative;

    &__get {
        background-color: #fff;
        padding: 22px 0 40px;
    }

    &__get-inner {
        display: flex;
    }

    &__get-content {
        flex: 0 1 50%;
    }

    &__get-box {
        max-width: 590px;
        width: 100%;
    }

    &__get-title {
        font-size: 48px;
        line-height: 130%;
    }

    &__get-subtitle {
        font-size: 20px;
        line-height: 180%;
        margin-bottom: 30px;
        text-align: left;
    }

    &__get-input {
        height: 50px;
        border: none;
        border-bottom: 1px solid $blue;
        font-weight: 300;
        font-size: 18px;
        line-height: 80%;
        margin-right: 30px;

        &::placeholder {
            color: #959595;
        }
    }

    &__get-btn {
        padding: 18px 34px;
        font-size: 18px;
        line-height: 80%;
    }

    &__get-img {
        flex: 1 1 auto;
        position: relative;

        img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

.catalog {

    &__fixed-btn {
        position: absolute;

        &_calc {
            width: 107px;
            height: 107px;
            background-color: $blue;
            box-shadow: 0px 0px 25px rgba(26, 49, 82, 0.35);
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            right: 78px;
            top: 100px;
        }

        &_des {
            transform: rotate(-90deg);
            top: 12%;
            left: -135px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
    }
}




//catalog end

//advantages start
.advatanges {
    padding: 73px 0 65px;
    background-color: $light;

    &__column {
        margin-right: 10px;

        &:last-child {
            margin-right: 0;
        }

    }

    &__item {
        text-align: center;
        padding: 0 5px;
    }

    &__img {
        width: 138px;
        height: 138px;
        margin: 0 auto;

        img {
            display: block;
            max-width: 100%;
            margin: 0 auto;
            object-fit: none;
        }
    }
}

.advantages {

    &__row {
        display: flex;
        justify-content: space-between;
    }

    &__title {
        font-weight: 500;
        font-size: 30px;
        line-height: 130%;
        color: $blue;
        margin-bottom: 17px;
    }

    &__text {
        font-weight: 300;
        font-size: 20px;
        line-height: 150%;
        color: #5e5e5e;

        span {
            display: block;
        }
    }
}

//advantages end

//payment start
.payment {
    padding: 55px 0 65px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    &__body {
        max-width: 840px;
        width: 100%;
        margin: 0 auto;
        padding: 0 15px;
        text-align: center;
    }

    &__title {
        font-size: 48px;
        line-height: 130%;
        color: #fff;
        max-width: 580px;
        margin: 0 auto;
    }

    &__subtitle {
        font-weight: 300;
        font-size: 20px;
        line-height: 150%;
        color: #fff;
        max-width: 500px;
        margin: 0 auto;
        margin-bottom: 28px;
        margin-top: 15px;
    }

    &__row {
        display: flex;
        justify-content: space-between;
    }

    &__column {
        flex: 0 1 147px;
        margin-right: 10px;

        &:last-child {
            margin-right: 0;
        }
    }

    &__img {
        img {
            display: block;
            max-width: 100%;
        }
    }
}

//payment end

//designer start
.designer {
    padding: 65px 0 95px;

    &__title {
        margin-bottom: 25px;
    }

    &__subtitle {
        line-height: 140%;
        margin-bottom: 65px;

        span {
            display: block;

            &:last-child {
                font-weight: 500;
            }
        }
    }

}

//designer end

//production start
.production {
    padding: 63px 0 53px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    &__title {
        margin: 0 auto;
        margin-bottom: 23px;
        position: relative;
        max-width: 440px;

        svg {
            position: absolute;
            left: 103%;
            top: 0;
        }
    }

    &__subtitle {
        margin-bottom: 43px;

        span {
            text-transform: uppercase;
            font-weight: 500;
        }
    }

    &__row {
        display: flex;
        justify-content: space-between;
    }

    &__column {
        flex: 0 1 612px;
    }

    &__item {
        max-width: 612px;
    }

    &__img {
        position: relative;

        img {
            display: block;
            max-width: 100%;
        }
    }

    &__play {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: transparent;
    }

    &__text {
        margin-top: 44px;
        font-weight: 300;
        font-size: 20px;
        line-height: 150%;
        color: #5E5E5E;
    }

    &__slider {
        position: relative;
    }

    &__list {
        margin-top: 42px;
        font-size: 22px;
        line-height: 150%;
        font-weight: 300;
    }

    &__list-title {
        font-weight: 500;
        font-size: 22px;
        line-height: 150%;
        color: $blue;

        span {
            text-transform: uppercase;
        }
    }

    &__list-item {
        padding-left: 25px;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 50%;
            width: 9px;
            height: 9px;
            background-color: $yellow;
            border-radius: 50%;
            margin-top: -4.5px;
        }
    }
}

//production end

//brands start
.brands {
    padding: 70px 0 98px;

    &__title {
        font-size: 48px;
        margin-bottom: 53px;
    }

    &__row {
        display: flex;
        justify-content: space-between;
    }

    &__column {

        display: flex;
        align-items: flex-end;
    }

    &__img {
        img {
            display: block;
            max-width: 100%;
        }
    }
}

//brands end

//clients start
.clients {
    padding: 32px 0 90px;
    background-color: $light;

    &__title {
        margin-bottom: 14px;
    }

    &__subtitle {
        margin-bottom: 47px;
    }

    &__row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    &__item {
        flex: 0 1 355px;

    }

    &__img {
        height: 100%;

        img {
            display: block;
            max-width: 100%;
            height: 100%;

        }
    }
}

//clients end 

//feedbacks
.feedbacks {
    padding: 59px 0 134px;

    &__title {
        margin-bottom: 4px;
    }

    &__subtitle {
        margin-bottom: 37px;
    }

    &__inner {
        box-shadow: 1px 2px 19px rgba(0, 0, 0, 0.1);
        max-width: 980px;
        margin: 0 auto;
        position: relative;
    }

    &__item {
        padding: 66px 56px 58px;
    }

    &__text {
        font-size: 20px;
        line-height: 170%;
        color: #5E5E5E;

        span {
            display: block;
        }

        margin-bottom: 36px;
    }

    &__client {
        display: flex;
    }

    &__img {
        margin-right: 36px;
        width: 92px;
        height: 92px;
        border-radius: 50%;
        overflow: hidden;

        img {
            display: block;
            max-width: 100%;
        }
    }

    &__client-name {
        font-weight: 500;
        font-size: 24px;
        line-height: 170%;
        color: $blue;
        margin-bottom: 5px;
    }

    &__client-rate {
        display: flex;
    }

    &__star {
        margin-right: 4px;

        &:last-child {
            margin-right: 0;
        }

        img {
            display: block;
            max-width: 100%;
        }
    }

    &__quotes {
        position: absolute;
        top: -15px;
        right: 16px;
        background-color: #fff;

        &:last-child {
            right: 53px;
        }
    }
}

.feedbacks__slider {
    .slick-arrow {
        width: 56px;
        height: 56px;
        background-color: $light;

        svg {
            width: 12px;
            height: 21px;
        }

        path {
            fill: #959595;
        }
    }

    .slick-prev {
        left: -100px;
    }

    .slick-next {
        right: -100px;
    }

    .slick-dots {
        bottom: -50px;

        li {
            width: 15px;
            height: 15px;
            background-color: $grey;

            &.slick-active {
                background-color: #959595;
            }

            &+li {
                margin-left: 18px;
            }
        }
    }
}

//feedbacks end 

//location start
.location {

    &__inner {
        display: flex;
    }

    &__map {
        flex: 0 1 1030px;
        min-height: 626px;
    }

    .modal-form {
        padding: 72px 20px 0 72px;
        flex: 0 0 660px;

        &__title {
            font-size: 48px;
            line-height: 150%;
        }

        &__subtitle {
            margin-bottom: 41px;
        }

        &__buttons {
            justify-content: flex-start;
        }

        &__btn {
            &:first-child {
                margin-right: 57px;
            }
        }
    }
}

.map {
    iframe {
        max-width: 100%;
        width: 100%;
        height: 100%;
    }
}

//location end

//footer start 
.footer {
    position: relative;
    background-color: $blue;

    &__inner {
        min-height: 140px;
        display: flex;
        align-items: center;

    }

    &__burger {
        display: none;
    }

    &__content {
        display: flex;
        align-items: center;
    }

    &__logo {
        margin-right: 75px;

        path {
            fill: #fff;
        }
    }

    &__menu {
        margin-right: 126px;

        li {
            a {
                color: #fff;
            }
        }
    }

    &__info {
        margin-right: 64px;
        color: #fff;

        a {
            color: #fff;
        }
    }

    &__btn {
        &:hover {
            background-color: #fff;
            color: $blue;
        }
    }
}

//footer end


//modals start
.modals {
    display: none;
}

.modal {
    max-width: 1180px;
    margin: 0 auto;
    display: flex;
    box-shadow: 1px 2px 19px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    position: relative;

    &__img {
        max-width: 570px;
        width: 100%;

        img {
            display: block;
            max-width: 100%;
        }
    }
}

.modal-form {
    text-align: center;
    padding: 60px 40px 0 63px;
    max-width: 100%;
    width: 100%;

    &__title {
        font-weight: bold;
        font-size: 30px;
        line-height: 150%;
        margin-bottom: 18px;
        color: $blue;
    }

    &__subtitle {
        font-weight: 300;
        font-size: 20px;
        line-height: 150%;
        margin: 0 auto;
        margin-bottom: 55px;
        color: $blue;
        max-width: 330px;
    }

    &__input {
        display: block;
        width: 100%;
        height: 46px;
        border: 1px solid $grey;
        border-radius: 5px;
        padding: 0 20px;
        margin-bottom: 30px;

        &::placeholder {
            font-size: 18px;
            color: #959595;
        }
    }

    &__buttons {
        margin-top: 47px;
        display: flex;
        justify-content: center;
    }

    &__btn {
        font-size: 18px;
        line-height: 80%;
        margin-right: 25px;

        &:last-child {
            margin-right: 0;
        }

        &.btn_yellow {
            padding: 18px 28px;
        }

        &.btn_black {
            padding: 18px 25px;
        }
    }
}

.mfp-close {
    font-size: 38px;
    color: #959595;
}

.calc {

    &__modal {

        .modal-form {
            padding: 60px 43px 0;

            &__title {
                line-height: 120%;
                margin-bottom: 13px;
            }

            &__subtitle {
                margin-bottom: 35px;
            }

            &__btn {
                padding: 20px 55px;
                font-size: 19px;

            }
        }
    }
}

.call {

    &__modal {

        .modal-form {

            &__subtitle {
                margin-bottom: 35px;
            }

            &__buttons {
                margin-top: 43px;
            }

            &__btn {
                padding: 20px 55px;
                font-size: 19px;

            }
        }
    }
}

//modals end
@import "media";